<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="name" name="username" required>
            <label for="name">Password:</label>
            <input type="text" id="password" placeholder="password" name="password" required>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>
</html>